<div>
{{#if donate}}
    <footer id="donate-footer">
        <div class="row copyright">
            <div class="col-xs-4">
                <p class="pull-left footer-date">{{campaign.closedAt}}</p>
            </div>
            <div class="col-xs-4">
                <p class="text-center"><a href="#"><span class="badge footer-share">Share</span></a></p>
            </div>
            <div class="col-xs-4">
                <p class="pull-right footer-total">Total: <span class="badge">£{{campaign.totalAmount}}</span></p>
            </div>
        </div>
    </footer>
{{else}}
    <footer>
           <div class="container">
               <div class="row">
                   <div class="row copyright">
                       <div class="col-xs-12">
                           <p class="text-center"><span class="js_year"></span> &copy; Leaving Gift Ltd.</p>
                       </div>
                   </div>
               </div>
           </div>
    </footer>
{{/if}}
</div>
