{{>tc}}
<div>
{{#if donate}}
    <footer id="donate-footer">
        <div class="row copyright">
            <div class="col-xs-4">
                <p class="pull-left footer-date">This registry closes on {{campaign.closeAt}} at 7pm</p>
            </div>
            <div class="col-xs-4">
                <p class="text-center"><a href="mailto:info@theleavinggift.com?subject={{campaign.leaverName}}'s%20leaving%20gift&amp;body=Hi!%20You've%20been%20invited%20to%20donate%20to%20{{campaign.leaverName}}'s%20leaving%20gift.%20%0A%0AYou%20can%20access%20the%20donation%20page%20below%20until%20{{campaign.closedAt}}%20by%20following%20this%20link%3A%0A%0A{{campaign.donationPage}}%0A%0AFor%20more%20information%20about%20The%20Leaving%20gift%20company%2C%20visit%20https%3A%2F%2Fwww.theleavinggift.com%0A%0A" target="_blank"><span class="badge footer-share">Invite</span></a></p>
                <p class="text-center">By using this registry page you agree to our <a href="#" data-toggle="modal" data-target="#termCondModal">Terms of Service</a></p>

            </div>
            <div class="col-xs-4">
                <p class="pull-right footer-total">Total: <span class="badge">£{{campaign.totalAmount}}</span></p>
            </div>
        </div>
    </footer>

{{else}}
    <footer>
           <div class="container">
               <div class="row">
                   <div class="row copyright">
                       <div class="col-xs-12">
                           <p class="text-center"><span class="js_year"></span> &copy; The Leaving Gift Ltd.</p>
                       </div>
                   </div>
               </div>
           </div>
    </footer>
{{/if}}
</div>
