<nav class="navbar navbar-default navbar-fixed-top">
    {{#if home}}
        <a href="mailto:info@theleavinggift.com?subject=Enquiry&" class="btn btn-default navbar-btn pull-left btn-contact" target="_blank" role="button">Contact us</a>
        <a class="btn btn-default navbar-btn pull-right" href="/campaign" role="button">Create gift registry</a>
    {{else}}
        <a class="btn btn-default navbar-btn btn-home pull-left" href="/" role="button">Home</a>
        <a class="btn btn-default navbar-btn pull-right" href="/campaign" role="button">Create gift registry</a>
    {{/if}}
</nav>
