<div class="modal fade" id="stripeModal" tabindex="-1" role="dialog" aria-labelledby="TLGC Terms and Conditions">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><label aria-hidden="true">&times;</label></button>
                <h4 class="modal-title" id="myModalLabel">Secure payment by Stripe</h4>
            </div>
            <div class="modal-body">
                <div class="stripe-logo"><img src="/assets/img/stripe.png" /></div>
                <br/>
                <form action="/stripe/{{urlId}}" method="POST" id="payment-form">


                      <label class="payment-errors"></label>


                        <div class="form-row">
                        <label>Name</label>

                          <input type="text" size="20"name="name"/>

                      </div>

                      <div class="form-row">

                          <label>Amount</label>
                          <input type="number" size="20"name="amount"/>

                      </div>

                      <div class="form-row">

                          <label>Message to add to leaving card</label>
                          <textarea name="message"></textarea>

                      </div>


                      <div class="form-row">

                          <label>Card Number</label>
                          <input type="text" size="20" data-stripe="number"/>

                      </div>

                      <div class="form-row">

                          <label>CVC</label>
                          <input type="text" size="4" data-stripe="cvc"/>

                      </div>

                      <div class="form-row">

                          <label>Expiration (MM/YYYY)</label>
                          <input type="text" size="2" data-stripe="exp-month"/>

                        <span> / </span>
                        <input type="text" size="4" data-stripe="exp-year"/>
                      </div>
                        <br/>
                        <div>
                            <button class="btn btn-default donation-btn" type="submit">Submit Payment</button>
                      </div>
                    </form>
                    <br/>


                    <p>Find out more about secure payment with Stripe <a href="https://stripe.com/gb/features">here</a></p>




    </div>
</div>
</div>
</div>











<!--
<div class="formDonate-slide container">
    <form action="/stripe/{{urlId}}" method="POST" id="payment-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-3" id="stripe-container">
            <label class="payment-errors"></label>


            <div class="form-inline">
                <div class="form-group">
                     <div class="col-xs-12 col-sm-6">
                    <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                </div>


                <div class="form-group">
                <div class="col-xs-12 col-sm-6">
                    <input type="number" name="amount" class="form-control" placeholder="Amount">
                    </div>
                </div>
            </div>

            <p></p>


            <div class="form-group">
                <div class="col-xs-12 col-sm-9">
                    <input type="text" name="message" class="form-control" placeholder="Message">
                </div>
            </div>



            <div class="col-xs-12">
            <p></p>
                <div class="form-inline">

                    <div class="form-group">
                        <input type="text" size="20" data-stripe="number" class="form-control" placeholder="Card number">
                    </div>


                    <div class="form-group">

                        <input type="text" size="4" data-stripe="cvc" class="form-control" placeholder="CVC">
                    </div>


                    <div class="form-group">


                        <input type="text" size="2" data-stripe="exp-month" class="form-control" placeholder="MM"/>
                        <label> / </label>
                        <input type="text" size="4" data-stripe="exp-year" class="form-control" placeholder="YYYY"/>

                    </div>
                </div>


            </div>
            <div class="col-xs-12">
            <p></p>
                <button class="btn btn-default submit-payment" type="submit">Submit Payment</button>
            </div>


        </div>

    </form>
</di -->


<!-- <div class="formDonate container">
    <form class="form-inline">
        <div class="col-xs-12 col-sm-offset-1 col-md-offset-1">
            <div class="form-group">
                <input type="text" class="form-control donate" id="exampleInputName2" placeholder="Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control donate" id="exampleInputEmail2" placeholder="Message">
            </div>

             <div class="form-group">
                <label for="donationAmount">£</label>
                <input type="number" name="donationAmount" class="form-control donate" id="donationAmount" placeholder="Amount">
            </div>

            <button type="submit" class="btn donate-btn">Donate</button>
        </div>
    </form>
</div> -->
