<div class="container">
    <h1 class='text-center'>List of campaigns</h1>
</div>


<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th data-field="id">Campaign ID</th>
                <th data-field="email">Initiator</th>
                <th data-field="name">Email</th>
                <th data-field="price">Date</th>
                <th data-field="price">Closing Date</th>
                <th data-field="price">Leaver</th>
                <th data-field="price">Age</th>
                <th data-field="price">Gender</th>
                <th data-field="price">Reason for leaving</th>
                <th data-field="price">Recipient</th>
                <th data-field="price">Address 1</th>
                <th data-field="price">Address 2</th>
                <th data-field="price">Post Code</th>
                <th data-field="price">Decision</th>
                <th data-field="price">Gift proposition</th>
                <th data-field="price">Donors/Messages</th>
                <th data-field="price">Total</th>
            </tr>
        </thead>

        <tbody>
            {{#each campaigns}}
            <tr class="">
                <td>
                    {{urlId}}
                </td>
                <td>
                    {{initiatorName}}
                </td>
                <td>
                    {{email}}
                </td>
                <td>
                    {{createdAt}}
                </td>
                <td>
                    {{closeAt}}
                </td>
                <td>
                    {{leaverName}}
                </td>
                <td>
                    {{age}}
                </td>
                <td>
                    {{gender}}
                </td>
                <td>
                    {{reasonForLeaving}}
                </td>
                <td>
                    {{nameOfRecipient}}
                </td>
                <td>
                    {{address1}}
                </td>
                <td>
                    {{address2}}
                </td>
                <td>
                    {{postCode}}
                </td>
                <td>
                    {{decision}}
                </td>
                <td>
                    {{giftProposition}}
                </td>
                <td>
                    {{#each donors}}
                    <ul>
                        <li>{{name}} - {{message}} - £{{amount}}</li>
                    </ul>
                    {{/each}}
                </td>
                <td>
                    {{totalAmount}}
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>

<div class="">
    <ul>

        <li>{{urlId}}</li>

    </ul>

</div>



{{>footer}}
