<div class="container">
    <h1>List of campaigns</h1>
</div>


<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th data-field="id">Campaign ID</th>
                <th data-field="name">Initiator</th>
                <th data-field="price">Date</th>
                <th data-field="price">Closing Date</th>
                <th data-field="price">Leaver</th>
                <th data-field="price">Reciepient</th>
                <th data-field="price">Address 1</th>
                <th data-field="price">Address 2</th>
                <th data-field="price">Post Code</th>
                <th data-field="price">Gift proposition</th>
                <th data-field="price">Doners/Messages</th>
                <th data-field="price">Total</th>
            </tr>
        </thead>

        <tbody>
            <tr class="">
                <td>
                    1
                </td>
                <td>
                    Simon
                </td>
                <td>
                    12.09.2015
                </td>
                <td>
                    24.09.2015
                </td>
                <td>
                    Alex
                </td>
                <td>
                    Anita
                </td>
                <td>
                    24 Palmers Road
                </td>
                <td>
                    London
                </td>
                <td>
                    ES3 4TH
                <td>
                    personal beer mug                       
                </td>
                <td>
                    <li>Claire - I miss you</li>
                    <li>Kate - Good luck</li>
                    <li>Sandra - Good luck</li>
                </td>
                <td>
                    £25
                </td>
            </tr>
        </tbody>
    
    </table>
</div>



{{>footer}}