<nav class="navbar navbar-default navbar-fixed-top">

    <a class="btn btn-default navbar-btn btn-home pull-left" href="/" role="button">Home</a>
     <a href="mailto:info@theleavinggift.com?subject=Enquiry&" class="btn btn-default navbar-btn pull-left btn-contact" target="_blank" role="button">Contact us</a>
</nav>

<div id="strapline">
    <div class="container">
        <h1 class="campaign-h1">Create your Leaving Gift registry today</h1>
        <p>Complete the form below to create a Leaving Gift registry.</p>
        <p>Once completed you can invite your colleagues to start collecting money and messages for a gift and card.</p>
    </div>
</div>

<div id="form-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                <p>
                    {{messageError}}
                </p>

                <form id="campaign-create" action="/campaign" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your email" value={{email}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="initiatorName" name="initiatorName" placeholder="Your name" value={{initiatorName}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="leaverName" name="leaverName" placeholder="Name of leaver" value={{leaverName}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <select name="reasonForLeaving" class="form-control dropdown">
                                <option disabled selected value="">Reason for leaving</option>
                                <option {{{ validateValue reasonForLeaving "option1" "selected"}}} value="Retirement">Retirement</option>
                                <option {{{ validateValue reasonForLeaving "option2" "selected"}}} value="Going to another job">Going to another job</option>
                                <option {{{ validateValue reasonForLeaving "option3" "selected"}}} value="Going travelling">Going travelling</option>
                                <option {{{ validateValue reasonForLeaving "option4" "selected"}}} value="Taking a sabbatical">Taking a sabbatical</option>
                                <option {{{ validateValue reasonForLeaving "option5" "selected"}}} value="Having a baby">Having a baby</option>
                                <option {{{ validateValue reasonForLeaving "option6" "selected"}}} value="Getting married">Getting married</option>
                                <option {{{ validateValue reasonForLeaving "option7" "selected"}}} value="Other">Other</optiin>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                    <div class="col-xs-12">
                    <p>If you have a specific gift in mind, please provide details below. If you would like us to choose something then please provide some details of hobbies/interests of the leaver.</p>

                    </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                            <label class="radio-inline pull-left" name="decision2">
                                <input {{{ validateValue decision "youDecide" "checked"}}} type="radio" name="decision" id="youDecide" value="youDecide"> You decide
                            </label>
                            <label class="radio-inline pull-right">
                                <input {{{ validateValue decision "weDecide" "checked"}}} type="radio" name="decision" id="weDecide" value="weDecide"> We decide
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea class="form-control" rows="3" placeholder="Gift proposition" name="giftProposition" value={{giftProposition}}></textarea>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="pull-left">
                                <select name="age" class="form-control dropdown">
                                    <option disabled selected value="">Age range</option>
                                    <option {{{validateValue age "Under 18" "selected"}}} value="Under 18">Under 18</option>
                                    <option {{{validateValue age "18 - 24" "selected"}}} value="18 - 24">18 - 24</option>
                                    <option {{{validateValue age "25 - 30" "selected"}}} value="25 - 30">25 - 30</option>
                                    <option {{{validateValue age "31 - 40" "selected"}}} value="31 - 40">31 - 40</option>
                                    <option {{{validateValue age "41 - 50" "selected"}}} value="41 - 50">41 - 50</option>
                                    <option {{{validateValue age "51 - 60" "selected"}}} value="51 - 60">51 - 60</option>
                                    <option {{{validateValue age "Over 60" "selected"}}} value="Over 60">Over 60</option>
                                    <option {{{validateValue age "Don't know" "selected"}}} value="Don't know">Don't know</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <select name="gender" class="form-control dropdown">
                                    <option disabled selected value="">Gender</option>
                                    <option {{{validateValue gender 'f' "selected"}}} value="f">Female</option>
                                    <option {{{validateValue gender 'm' "selected"}}} value="m">Male</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <h3 class='deliveryDetails'>Delivery Details</h3>

                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="nameOfRecipient" name="nameOfRecipient" placeholder="Name to send delivery to" value={{nameOfRecipient}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="address1" name="address1" placeholder="Address line 1" value={{address1}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="address2" name="address2" placeholder="Address line 2" value={{address2}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <input type="text" class="form-control" id="postCode" name="postCode" placeholder="Post Code" value={{postCode}}>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <p>Choose the delivery date for your gift.<br/>
                            We will generate a closing date for your registry below.</p>
                            <div class='input-group date col-xs-12' >
                                <input id="datepicker" type='text' name="deliveryDate" class="form-control" placeholder="Delivery date" />
                                    <!-- <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span> -->
                            </div>
                            <p id="delivery-msg"></p>
                            <input type="hidden" name="closeAt" id='closeAt' value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input name="tc" type="checkbox" value="tc">
                                    I agree to the <a href="#" data-toggle="modal" data-target="#termCondModal">T&C</a>
                                </label>
                            </div>
                        </div>
                    </div>

{{>tc}}
                    <!-- Modal -->
                    <!-- <div class="modal fade" id="termCondModal" tabindex="-1" role="dialog" aria-labelledby="TLGC Terms and Conditions">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">TLGC Terms and Conditions</h4>
                                </div>
                                <div class="modal-body">
                                    <p><strong>The Leaving Gift’s Terms of Service</strong></p>

<p>These terms of service outline what The Leaving Gift Ltd does and how it operates. We run and maintain a website that provides a concierge service for collating, processing, choosing and delivering donations and messages on behalf of an initiator. This service charges a 10% fee for the administration and processing for the leaving gift and card. The 10% fee is taken from the total amount donated after the closing date on the registry page is passed. The remaining donation amount will be used to design, populate and deliver a card, and to choose and deliver a gift for the leaver.</p>
<p>The Leaving Gift is a trading name of the local The Leaving Gift Ltd entity as identified in the country specific terms of service. The Leaving Gift Ltd operates www.theleavinggift.com (the "Website") and its associated services. These core terms of service (and the relevant country specific terms) (together the "Terms of Service") govern your use of the Website and its associated services. Please read these Terms of Service carefully. If you do not wish to be bound by these Terms of Service, you should not continue to use or access the Website or its associated services.</p>

<p>These Terms of Service may change or be updated from time to time. It remains your responsibility to access and check these Terms of Service wherever you access the Website. The latest version of these Terms of Service will govern any future usage by you of the Website and its associated services</p>


<p><strong>Returns</p></strong>

<p>The Leaving Gift Ltd acts on behalf of the initiator to purchase a card and gift for the leaver. Leaving gift cards will not be eligible for refund or exchange. The leaving gift will be eligible for refund or exchange as per the retailers’ terms and conditions.</p>

<p><strong>Insufficient funds collected</p></strong>

<p>Once registry closes, if the total donated amount is insufficient to buy the pre-specified gift, The Leaving Gift will either a) choose an appropriate similar gift of lesser value or b) use donations to purchase vouchers from a well-established internet retailer. If total donated amount exceeds the value of the gift specified, The Leaving Gift will either a) buy vouchers with the additional money or b) buy an upgraded version of the specified gift. The Leaving Gift will only operate its services when total donations on each gift registry page equal, or exceed, 5 GBP by the registry closing date; total donations less than 5 GBP will be returned to the donators.</p>

<p><strong>User conduct</p></strong>

<p>If you build a gift registry page on The Leaving Gift, you must ensure that any information you provide to the public is accurate and not misleading. It is your responsibility to ensure that the content you are uploading on your page is not copyright-protected. If it is, you must obtain the copyright owner's written consent to use it. The Leaving Gift reserves the right to remove any copy from personal gift registry page, at its sole discretion and without notice if their copyright status is in any doubt. If you suspect a breach of copyright on the Website, please email us at info@theleavinggift.com.</p>
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> -->



                    <div class="form-group">
                    <div class="col-xs-12">
                        <p>Once you have started your Leaving Gift registry you can easily share the page with others.</p>
                        <p>For this awesome service we charge a 10% fee on the total amount donated, please read our <a href="#" data-toggle="modal" data-target="#termCondModal">Terms of Service</a> for more information.</p>
                         <button class="btn btn-default btn-lg btn-block start_campaign" role="submit" type="submit">Start collecting!</button>
                    </div>

                </div>
        </form>




            </div>
        </div>
    </div>
</div>

{{>footer}}
