{{>navigation}}

<div id="strapline">
    <div class="container">
        <p class="lead">Lorem Ipsum is simply dummy text of the printing.</p>
        <p>Lorem Ipsum is simply dummy text of the printing</p>
        <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
</div>

<div id="form-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                <p>
                    {{messageError}}
                </p>

                <form id="campaign-create" action="/campaign" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your email" value={{email}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="initiatorName" name="initiatorName" placeholder="Your name" value={{initiatorName}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="leaverName" name="leaverName" placeholder="Name of leaver" value={{leaverName}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <select name="reasonForLeaving" class="form-control dropdown">
                                <option disabled selected value="">Reason for leaving</option>
                                <option {{{ selectOption reasonForLeaving "option1"}}} value="option1">option1</option>
                                <option {{{ selectOption reasonForLeaving "option2"}}} value="option2">option2</option>
                                <option {{{ selectOption reasonForLeaving "option3"}}} value="option3">option3</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                    <div class="col-xs-12">
                    <p>fLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand Lorem Ipsum has been the lorem</p>

                    </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                            <label class="radio-inline pull-left">
                                <input {{{ checkedButton decision "youDecide"}}} type="radio" name="decision" id="youDecide" value="youDecide"> You decide
                            </label>
                            <label class="radio-inline pull-right">
                                <input {{{ checkedButton decision "weDecide"}}} type="radio" name="decision" id="weDecide" value="weDecide"> We decide
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea class="form-control" rows="3" placeholder="Gift proposition" name="giftProposition" value={{giftProposition}}></textarea>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="pull-left">
                                <select name="age" class="form-control dropdown">
                                    <option disabled selected value="">Age range</option>
                                    <option {{{selectOption age "18" }}} value="18">Under 18</option>
                                    <option {{{selectOption age "24" }}} value="24">18 - 24</option>
                                    <option {{{selectOption age "30" }}} value="30">25 - 30</option>
                                    <option {{{selectOption age "40" }}} value="40">31 - 40</option>
                                    <option {{{selectOption age "50" }}} value="50">41 - 50</option>
                                    <option {{{selectOption age "60" }}} value="60">51 - 60</option>
                                    <option {{{selectOption age "61" }}} value="61">Over 60</option>
                                    <option {{{selectOption age "0" }}} value="0">Don't know</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <select name="gender" class="form-control dropdown">
                                    <option disabled selected value="">Gender</option>
                                    <option {{{selectOption gender 'f' }}} value="f">Female</option>
                                    <option {{{selectOption gender 'm' }}} value="m">Male</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="nameOfRecipient" name="nameOfRecipient" placeholder="Name of recipient" value={{nameOfRecipient}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="address1" name="address1" placeholder="Address line 1" value={{address1}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="address2" name="address2" placeholder="Address line 2" value={{address2}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <input type="text" class="form-control" id="postCode" name="postCode" placeholder="Post Code" value={{postCode}}>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <p>Explanation for delivery date <br/>
                            Lorem Ipsum has been the industry's standard dummy</p>
                            <div class='input-group date col-xs-12' >
                                <input id="datepicker" type='text' name="deliveryDate" class="form-control" placeholder="Delivery date" />
                                    <!-- <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span> -->
                            </div>
                            <p>Campaign will end by 24 Sep 2015</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input name="tc" type="checkbox" value="tc">
                                    I agree to the <a href="#" data-toggle="modal" data-target="#termCondModal">T&C</a>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="termCondModal" tabindex="-1" role="dialog" aria-labelledby="TLGC Terms and Conditions">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">TLGC Terms and Conditions</h4>
                                </div>
                                <div class="modal-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien maximus, sagittis leo non, tincidunt tortor. Curabitur convallis posuere lorem interdum sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Morbi ornare neque sit amet sagittis euismod. Donec pharetra viverra luctus. Proin turpis ex, tincidunt eget metus sit amet, pretium dapibus purus. Proin mollis molestie neque et congue.

                                    Duis luctus odio sed tortor vestibulum, sed convallis nulla ultricies. Mauris velit mauris, convallis quis augue et, rutrum imperdiet enim. Etiam auctor erat ac dictum tempor. Vivamus varius, nunc ut rutrum gravida, nulla lectus congue orci, at bibendum quam arcu at nunc. Aliquam consequat ut augue in dictum. Cras scelerisque cursus orci at sodales. Sed blandit fringilla dolor, eu consectetur urna vehicula interdum. Praesent malesuada pellentesque ex et varius. Donec ultrices, arcu at finibus bibendum, mauris lacus aliquet nunc, vel malesuada nulla magna id lorem. Phasellus eget mauris pulvinar, lobortis tellus sed, euismod sem.

                                    Phasellus feugiat viverra fermentum. Proin eu sodales diam. Aliquam pharetra volutpat augue, et venenatis magna congue ut. Cras tincidunt sapien eu ex dapibus, at iaculis diam aliquam. Vestibulum vestibulum, nibh et interdum luctus, ligula elit pulvinar nisi, quis pulvinar orci dui a nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta et dui sed efficitur. Curabitur lacinia accumsan imperdiet. Donec eleifend ut ligula quis porta. Phasellus congue consequat diam quis porta. Sed mollis, purus quis tristique aliquam, odio tellus condimentum dui, quis fringilla ante velit laoreet nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sodales dolor in hendrerit dictum. Cras in lacus magna.
                                </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                    <div class="form-group">
                    <div class="col-xs-12">
                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                         <button class="btn btn-default btn-lg btn-block start_campaign" role="submit" type="submit">Start campaign</button>
                    </div>

                </div>
        </form>




            </div>
        </div>
    </div>
</div>

{{>footer}}
