{{>navigation}}

<div id="strapline">
    <div class="container">
        <h1>{{campaign.leaverName}}'s Leaving Gift</h1>
    </div>
</div>

<div class="logo-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 id="logo-donate">
                    <a href="">The Leaving Gift Company</a>
                </h1>
            </div>
        </div>
    </div>
</div>

<div id="atAGlance">
    <div class="container">
        <div class="row atAGlance-row">
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2">
                Initiated by:
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                {{campaign.initiatorName}}
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1">
                Total so far: <span class="badge badge-total">£ {{campaign.totalAmount}}</span>
            </div>
        </div>
        <div class="row atAGlance-row">
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2">
                Closing date:
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                {{campaign.closedAt}}
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1 atAGlance-share">
                <span class="badge badge-donate">Share</span>
            </div>
        </div>
    </div>
</div>


<div id="strapline-donate">
    <div class="container">
        <p>Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy<br/>
        Lorem Ipsum is simply dummy text of the printing lorem is a dummy text lorem <br/>
        Lorem Ipsum is simply dummy text of the printing lorem lorem</p>
    </div>
</div>


<div class="formDonate container">
        <form action="/donate/{{campaign.urlId}}" method="POST" class="form-inline" id="donationForm">
            <div class="col-xs-12 col-sm-offset-1 col-md-offset-3">
                <div class="form-group">
                    <input type="text" name="donationName" class="form-control donate" id="exampleInputName2" placeholder="Name">
                </div>

                <div class="form-group">
                    <input type="text" name="donationMessage" class="form-control donate" id="exampleInputEmail2" placeholder="Message">
                </div>
                <div class="form-group">
                  <label for="donationAmount">£</label>
                    <input type="number" name="donationAmount" class="form-control donate" id="donationAmount" placeholder="Amount">
                </div>

                <button type="button" class="btn donate-btn" id="customButton">Donate</button>
            </div>
        </form>
</div>



<!-- <div class="formDonate container">
    <form class="form-inline">
        <div class="col-xs-12 col-sm-offset-1 col-md-offset-3">
            <div class="form-group">
                <input type="text" class="form-control donate" id="exampleInputName2" placeholder="Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control donate" id="exampleInputEmail2" placeholder="Message">
            </div>

            <button type="submit" class="btn donate-btn">Donate</button>
        </div>
    </form>
</div> -->




<div class="container">
   <div class="col-md-12">
       <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Donation
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each donors}}
                    <tr class="">
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{message}}
                        </td>
                        <td>
                            {{amout}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
   </div>
</div>


{{>footer}}
<script src="https://checkout.stripe.com/checkout.js"></script>
