<html>
    <head>
        <title>The Leaving Gift Company</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <button type="button" class="btn btn-default navbar-btn pull-right">Create campaign</button>
            </div>
        </nav>

        <div class="logo-section">
             <div class="container">
                 <div class="row">
                     <div class="col-xs-12">
                         <h1 id="logo">
                             <a href="">Leaving Gift Company</a>
                         </h1>
                     </div>
                 </div>
             </div>
         </div>
        
        <div class="content">
            <div class="container">
                <div class="row">


                    <h1>The Leaving Gift Company</h1>

                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                      <ul class="center">
                          <li>quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
                          <li>quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
                          <li>quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
                      </ul>
                </div>  

                    <div class="row">
                        <iframe class="iframe" src="https://www.youtube.com/embed/LgRdicAAy8g">
                        </iframe>
                    </div>  
                      
                    <div class="row create-btn">
                         <button type="button" class="btn btn-default">Create campaign</button>
                    </div>
                
            </div>

        </div>

        <footer>
            <div class="container">
                <p class="text-muted center">
                    Copyright Leaving Gift Company, Registered company no. 12345, 1 Main Road London
                </p>
            </div>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
