{{>navigation}}

<div class="logo-section">
   <div class="container">
       <div class="row">
           <div class="col-xs-12">
               <h1 id="logo">
                   <a href="">The Leaving Gift Company</a>
               </h1>
           </div>
       </div>
   </div>
</div>


<div id="strapline">
  <div class="container">
        <h1>The Leaving Gift Company</h1>
        <p class="lead">Use this document as a way to quickly start any new project.</p>
        <ul class="list-unstyled">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
        </ul>

        <div class="row">
            <div class="col-xs-6 col-md-4">
                <a href="#" class="thumbnail">
                  <img src="http://placehold.it/200x200" alt="...">
                </a>
            </div>

            <div class="col-xs-6 col-md-4">
                <a href="#" class="thumbnail">
                  <img src="http://placehold.it/200x200" alt="...">
                </a>
            </div>

            <div class="col-xs-6 col-md-4">
                <a href="#" class="thumbnail">
                  <img src="http://placehold.it/200x200" alt="...">
                </a>
            </div>
           
        </div>
    </div>
</div>

<div id="video">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LgRdicAAy8g"></iframe>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <a class="btn btn-default create-btn" href="/campaign" role="button">Create campaign</a>
    </div>
</div>
</div>

{{>footer}}
