{{>navigation}}


<div class="logo-section">
   <div class="container">
       <div class="row">
           <div class="col-xs-12">
               <h1 id="logo">
                   <a href="">The Leaving Gift Company</a>
               </h1>
           </div>
       </div>
   </div>
</div>


<div id="strapline">
  <div class="container">
        <h1>Someone leaving? Let us sort the gift</h1>
        <p class="lead">We take the hassle out of organising colleagues’ leaving gifts by:</p>
        <ul class="list-unstyled">
            <li><strong>Creating</strong> a page for you to share with colleagues to donate</li>
            <li><strong>Collating</strong> messages for a leaving card</li>
            <li><strong>Choosing</strong> and <strong>delivering</strong> the gift</li>
        </ul>

        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="/assets/img/create.jpeg" alt="Create campaign">
              <div class="caption">
                <h3>Create</h3>
              </div>
            </div>
          </div>


          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="/assets/img/share.jpeg" alt="Share campaign">
              <div class="caption">
                <h3>Share</h3>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="/assets/img/gift.jpeg" alt="Gift campaign">
              <div class="caption">
                <h3>Gift</h3>
              </div>
            </div>
          </div>

        </div>

      </div>
</div>

<div id="video">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6toAEgE3uBQ?rel=0" frameborder="0" allowfullscreen width="560" height="315"></iframe
            </div>
        </div>
    </div>

    <div class="row text-center col-xs-12">
        <a class="btn btn-default create-btn" href="/campaign" role="button">Create gift registry</a>
    </div>
</div>
</div>


{{>footer}}
