html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin-bottom: 50px;
}

/********strapline********/
#strapline {
  padding: 10px 15px;
  text-align: center;
}
.thumbnail {
    border: none;
}

/*******end of strapline*********/

.navbar-btn, .create-btn {
  background-color: #3ba933;
  margin-right: 20px;
  color: #fff;
  border: none;
}

.btn-contact {
    margin-left: 20px;
}
.navbar-btn:hover, .create-btn:hover, .btn-home:hover, .start_campaign:hover, .share-btn:hover, #donation-btn-slide, .submit-payment {
  background-color: #298622;
  color: #fff;
}
.btn-home {
    background-color: #3ba933;
    margin-left: 20px;
    color: #fff;
}
.create-btn {
    margin: 20px auto;
    padding: 10px 40px;
}
.start_campaign, .share-btn, .donate-btn, #donation-btn-slide, .submit-payment {
    background-color: #3ba933;
    color: #fff;
    border: none;
}
.share-btn {
    width: 15ch;
}
/******** Logo section *********/
.logo-section{
    background-color: #fff;
    text-align: center;
}
.logo-section > .container {
    background-color: #fff;
}
#logo, #logo-donate, #logo-donate2 {
    display: block;
    margin: 15px auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
#logo {
    background: url('../img/logo.png') no-repeat;
    width: 179px;
    height: 179px;
}
#logo-donate {
    background: url('../img/logo-mobile.png') no-repeat;
    width: 109px;
    height:109px;
}
#logo-donate2 {
    background: url('../img/logo-campaign.png') no-repeat;
    width: 179px;
    height:179px;
}
/******** End Logo section *********/

/******** Footer section *********/

footer {
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;
}
.copyright p {
    padding-top: 10px;
}
/******** End Footer section *********/


/******** Campaign page *********/
#delivery-msg {
    color: #298622;
}
.error {
    color:rgba(255, 0, 0, 0.67);
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.dropdown {
    text-align: center !important;
    color: #9C9898;
}
.dropdown-menu {
    min-width: 125px;
}
.gender {
    min-width: 104px;
}
/******** End Campaign page *********/

/******** Donate page *********/

.campaign-h1 {
    padding: 20px;
}
.formDonate-slide {
    margin-top:20px;
    display: none;
}
#strapline-donate{
    text-align: center;
    padding-top: 30px;
}
.badge {
    min-width: 40px;
    padding: 6px 7px;
}

.right {
    float: right;
}
.left {
    float: left;
}

.table-donors {
    margin-top: 40px;
}
table, form{
    /*width: auto !important;*/
    margin: 0 auto
}

.formDonate {
    padding: 30px;
}

.badge-donate {
    min-width: 112px;
    background-color: #3ba933;
}
.badge-total {
    background-color: #3ba933;
}
.atAGlance-row {
    padding:10px;
}

.formDonate button {
    text-align: center;
}
.donate-body{
    margin-bottom: 60px;
}
#donate-footer {
    position: fixed;
    height: 80px;
}

.footer-date {
    padding-left: 10px;
}
.footer-total {
    padding-right: 10px;
}
.footer-share {
    background-color: #3ba933;
    min-width: 150px;
    font-size: 14px;
}

/******** End Donate page *********/

/******** Admin page *******/

li {
    list-style-type: none;
}

/******** End Admin page *******/


@media(max-width:360px){

    #logo {
        background: url('../img/logo-mobile.png') no-repeat;
        width: 109px;
        height: 109px;
    }
    #atAGlance .atAGlance-share {
        text-align: center;
    }
    #atAGlance .col-xs-12 {
        text-align: center;
    }
    .col-xs-4 {
        font-size: 12px;
    }
    .footer-share {
        min-width: 90px;
    }
    .formDonate .donate-btn {
        display: block;
        width: 100%;
    }
}

@media(max-width:768px){
    #atAGlance .col-xs-12 {
        padding-top: 10px;
    }
}
